
@font-face {
    font-family: 'RB';
    src: url('../fonts/rb-light.eot');
    src: url('../fonts/rb-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rb-light.woff2') format('woff2'),
        url('../fonts/rb-light.woff') format('woff'),
        url('../fonts/rb-light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'RB';
    src: url('../fonts/rb-regular.eot');
    src: url('../fonts/rb-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rb-regular.woff2') format('woff2'),
        url('../fonts/rb-regular.woff') format('woff'),
        url('../fonts/rb-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RB';
    src: url('../fonts/rb-bold.eot');
    src: url('../fonts/rb-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rb-bold.woff2') format('woff2'),
        url('../fonts/rb-bold.woff') format('woff'),
        url('../fonts/rb-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.frappe-rtl{
	text-align: right;
	direction: rtl;
	font-family: 'RB', sans-serif !important;
}
.frappe-rtl .text-right{
	text-align: left;
}
.frappe-rtl .text-left{
	text-align: right;
}
.frappe-rtl .pull-right{
	float: left !important;
}
.frappe-rtl .pull-left{
	float: right !important;
}
.frappe-rtl .list-filters .sort-selector{
	left:15px;
	right:auto;
}
.frappe-rtl .sort-selector button{
	margin-left: 0px;
	margin-right: 10px;
}
.frappe-rtl  .navbar .navbar-search-icon{
	left: 24px;
	right:auto;
}
.frappe-rtl .set-filters{
	padding-right: 0px; 
}
.frappe-rtl .indicator::before{
	margin-right:0px;
	margin-left:4px;
}
.frappe-rtl .modal-header .indicator{
	float: right;
	margin-right: 0px;
	margin-left: 3px;
}
.frappe-rtl .case-wrapper{
    float: right;
}
.frappe-rtl .list-row-right{
	text-align: right;
}
.frappe-rtl #navbar-breadcrumbs > li > a:before{
	font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    speak: none;
    font-size: 24px;
    transition: 0.2s;
    position: relative;
    top: 3px;
    content: "\f104";
    margin-left: 10px;
    margin-right: 0px;
    color: #C0C9D2;
}
.frappe-rtl .form-section .section-head .collapse-indicator{
	margin-left: 0px;
	margin-right:10px;
}
.frappe-rtl .grid-row > .row .col:last-child{
	margin-right: 0px; 
}
.frappe-rtl .sidebar-menu .badge{
	right: auto;
	left: 0px;
}
.frappe-rtl .form-sidebar .form-shared .octicon, .frappe-rtl .form-sidebar .form-viewers .octicon{
	left: auto;
	right: 7px;
}
.frappe-rtl .text-right.buttons{
	direction: ltr;
}
.frappe-rtl .results .slick-header-column{
	direction: rtl;
}
.frappe-rtl .results{
	direction: ltr;
    text-align: right;
}
.frappe-rtl .timeline::before{
	left:auto;
	right:43px;
}
.frappe-rtl .timeline-item.notification-content::before{
    right: 40px;
    left:auto;
}
.frappe-rtl .pull-left.media-body{
    padding-right: 10px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 10px;
    max-width: calc(100% - 60px) !important;
}
.frappe-rtl .timeline-item.user-content .media-body:before{
	right: auto;
	left:100%;
	border-right:none;
	border-left-color: #d1d8dd;
}
.frappe-rtl .timeline-item.user-content .media-body:after{
	border-right:none;
	border-left-color: #fafbfc;
}
.frappe-rtl .timeline-item.user-content .media-body:after, .timeline-item.user-content .media-body:before{
	right: auto;
	left:100%;
}
.frappe-rtl .timeline-new-email::before{
	left: auto;
	right:40px;
}
.frappe-rtl .timeline-item.user-content .comment-likes{
    margin-left: 0px;
    margin-right: 5px;
}
.frappe-rtl .grid-static-col{
	text-align: right;
}
.frappe-rtl ul.tagit li{
	float: right;
	margin: 2px 0px 2px 5px;
}
.frappe-rtl ul.tagit li.tagit-new{
	padding: 0 0px 0 4px;
}
.frappe-rtl ul.tagit input[type="text"]{
	margin:1px 0px;
}
.frappe-rtl .list-row-head .octicon-heart{
    margin-left: 13px;
    margin-right: 0px;
}
.frappe-rtl .link-btn{
    left: 4px;
    right:auto;
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}
.frappe-rtl .list-col{
	text-align: right;
}
.frappe-rtl a.grey, .frappe-rtl .sidebar-section a,  .frappe-rtl .control-value a, .frappe-rtl .data-row a{
	margin:0px !important;
}
.frappe-rtl .module-link .icon-chevron-right{
	-webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}
.frappe-rtl .fc-icon-left-single-arrow,.frappe-rtl .fc-icon-right-single-arrow{
	-webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}
.navbar-fixed-top{
	background: linear-gradient(45deg,#f3fbf9 0%,#ffffff 100%) !important;
    height: 90px !important;
    border-bottom: 3px solid #eee !important;
}
.navbar-fixed-top{
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
.page-content{
	margin-top: 110px !important;
}
.page-content#page-background_jobs{
	margin-top: 90px !important;
}
/*.navbar-default .navbar-nav > li > a:hover{
	color:#fff;
}*/
a.navbar-brand.navbar-home.hidden-xs.hidden-sm{

    background: url(logo.jpg);
    background-size: contain;
    background-position: center center;
    /* background-attachment: fixed; */
    width: 70px;
    height: 70px;
    /* margin-top: 10px; */
    display: block;
    background-repeat: no-repeat;
    margin-right: 5px;
}
#page-desktop{
	background: #322b67 !important;
	
}

.navbar-right:last-child{
  	/*margin-top: 20px;*/
}

.navbar-right:last-child{
  	/*margin-top: 20px;*/
}
.navbar-right{
  	padding:15px 10px 10px 0px;
}
/*.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
	color:#fff;
}*/
#navbar-breadcrumbs > li > a:before{
	color:#fff !important;
}
.page-head{
	top: 91px;
}
.page-head{
	top: 91px;
}
.page-container{
	margin-top: 50px !important;
}

/*.case-label{
	color:#000;
    text-shadow: 0px 2px 1px rgba(255,255,255, 1);
}*/
.frappe-rtl  .navbar-header{
	padding:10px 0px;
}


#navbar-breadcrumbs > li > a:before{
	color: #fff;
}
.navbar-nav{
	padding-top: 15px;
}
.navbar-brand > img{
	display: none;
}
#navbar-search{
	background-color: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-nav > .open > a{
    background-color: #0c4588;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover{
	background: #4f734e;
	color:#fff;
}
.frappe-rtl .navbar-default .navbar-nav > .open > a,.frappe-rtl .navbar-default .navbar-nav > .open > a:hover{
	color:#fff;
}
.navbar-default .navbar-nav > .open > a:focus{
	background: #4f734e;
	color:#fff;
}
header .form-control{
	border: 1px solid rgb(27, 127, 216);;
}
.frappe-rtl header .form-control{
	border:  1px solid rgb(126, 146, 122);
}
.standard-image{
	color: #0c4688;
	background-color: #ffffff !important;
}
#search-modal .modal-header button{
	    right: auto;
	    left:0px;
}
.btn-primary,.btn-primary:active{
	background-color: #2592e8;
    border-color: #2592e8;
}
.btn-primary:hover{
	background-color: #0b4182;
    border-color: #0b4182;
}
.frappe-rtl .sidebar-menu .badge{
	left: 15px;
    right: auto !important;
}
body[data-route=""] .navbar-default{
	border-color: rgba(0,0,0, 0.15);
}
.frappe-rtl .navbar-nav{
	padding: 25px 10px 20px 0px;
}
    

@media (max-width: 991px){
	.navbar > .container > .navbar-header {
		float: right;
	}
	a.navbar-brand.navbar-home.hidden-xs.hidden-sm{
		margin-right:10px;
	}
	.navbar-brand{
		margin-top: 15px;
	}
	body.no-breadcrumbs .navbar .navbar-home:before{
		    visibility: hidden;
	}
	.navbar-brand{
		margin-top: 0px;
	}
	.navbar-brand .octicon{
		margin-top: 15px;
	}
	.text-right.page-actions{
		text-align: right;
	}
	.page-title .title-text{
		text-align: right;
	}
	.navbar > .container > .navbar-right{
		float:left;
		padding: 15px 00px 10px 0px;
	}
	#page-desktop>div{
		padding-top: calc(70px + 3%) !important;
	}
	.frappe-rtl .sidebar .navbar-search-icon{
		float:left;
		left: 7px;
		right:auto;
	}
	
}

@media (min-width: 768px){
	.frappe-rtl .layout-main .form-column.col-sm-12 > form > .input-max-width {
		padding-right: 0px;
	}
	.frappe-rtl .text-right.page-actions{
		text-align: left;
	}
	.frappe-rtl .navbar-right:last-child{
		     margin-left: 0px; 
		      padding: 25px 0px;
	}
}